pandas==2.2.2
numpy==1.26.4
nltk==3.8.1
pinecone-client==5.0.0
langchain-openai
langchain
langchain-community
langchain-text-splitters
pinecone-text==0.9.0
openai==1.68.2
streamlit==1.37.1
sentence-transformers==3.0.1